<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'visualize', 'data-turbolinks-track': 'reload' %>
<% end %>
<h1>App 1</h1>
<div class="row">
<div class="column">
  <p>
    Hello. Lorem Ipsum.
  </p>
</div>
<div class="column">
  <svg viewBox="0 0 1060 1000" style="width: 1000px;"></svg>
</div>
<div class="column">
  <p id="plan" style="white-space: pre-wrap; font-family: Consolas, monospace;"></p>
</div>
<script type="text/javascript">
  const xmlns = "http://www.w3.org/2000/svg";
  async function get_model() {
    const res = await fetch('/api/cnpy' + window.location.search, { method: 'post' });
    const json = await res.json();
    return json;
  }
  async function init() {
    model_p = get_model();

    window.svg = document.getElementsByTagName('svg')[0];
    window.ctrl = new VisualizerController(svg);
    await ctrl.load();
    ctrl.draw();
    const { ds, qp } = await model_p;
    console.log(qp);
    document.getElementById('plan').innerText = JSON.stringify(qp, null, 2);
    await ctrl.play(ds);
  }
  function replay() {
    ctrl.draw();
    let _ignored = ctrl.play(); // Returns promise.
    return false;
  }
  init();
</script>
