<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'visualize', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <style>
    svg * {
      transition: transform 350ms cubic-bezier(.86,.04,.83,.67);
    }
    svg rect {
      transition:
          transform 350ms cubic-bezier(.86,.04,.83,.67),
          width 300ms cubic-bezier(.86,.04,.83,.67),
          height 300ms cubic-bezier(.86,.04,.83,.67);
    }

    .bigjson {
      display: none;
    }
  </style>
<% end %>
<h1>App 1</h1>
<p id="loading">
  Loading...
</p>
<div class="container-fluid" style="width: 98vw; margin: 0 calc((100% - 98vw) / 2) 20vw;">
  <div class="row">
    <div class="col-md-6 col-sm-7">
      <div>
        <svg viewBox="0 0 500 500" style="width: 100%;"></svg>
      </div>
      <div id="player" style="font-size: 300%;"></div>
      <div id="buttons">
          <a id="clear" href="#">Clear</a>
      </div>
    </div>
    <div class="col-md-6 col-sm-5">
      <div id="spacer"></div>
      <div id="codemark"></div>
      <div id="runtime"></div>
    </div>
  </div>
</div>
<div id="plans" style="white-space: pre-wrap; font-family: Consolas, monospace; line-height: 100%;"></div>
<div style="overflow-x: scroll;">
  <hr />
  <p id="json" style="white-space: pre-wrap; font-family: Consolas, monospace; font-size: 0.8em; line-height: 100%;"></p>
</div>
<script type="text/javascript">
  init();
</script>
