<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'visualize', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <style>
    svg * {
      transition: transform 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    svg rect {
      transition:
          transform 350ms cubic-bezier(0.47, 0, 0.745, 0.715),
          width 300ms cubic-bezier(0.47, 0, 0.745, 0.715),
          height 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    .bigjson {
      display: none;
    }
  </style>
<% end %>
<h1>App 1</h1>
<div class="row">
<div class="column">
  <p>
    Chestnut Loading...
  </p>
</div>
<div class="column">
  <svg viewBox="0 0 500 500" style="width: 100%;"></svg>
</div>
<div id="player" class="column" style="font-size: 300%;"></div>
<div id="buttons" class="column">
    <a id="clear" href="#">Clear</a>
</div>
<div id="plans" class="column" style="white-space: pre-wrap; font-family: Consolas, monospace; line-height: 100%;">
</div>
<div class="column">
  <hr />
  <p id="json" style="white-space: pre-wrap; font-family: Consolas, monospace; font-size: 0.8em; line-height: 100%;"></p>
</div>
<script type="text/javascript">
  init();
</script>
