<footer class="footer">
  <small>
   	This website is a demo of <a href="http://homes.cs.washington.edu/~congy/chestnut.pdf">Chestnut</a> tool, a data layout designer.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
